.notFoundPage {
  min-height: 59vh;
  margin: 0 20px;
  background: url('/assets/404/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    max-width: 490px;
    margin: 80px auto 0;

    h2 {
      font-weight: 900;
    }
  }
}
