@import '@/app/styles/mixins';

.headerContainer {
  @include flex-custom(row, space-between, center);
  height: 80px;
  padding: 10px 30px;
  top: 0;
  width: 100%;
  position: absolute;
  background: transparent;

  .healper,
  [class*='hamburger-react'] {
    width: 48px !important;
  }

  @include laptop {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.mobileNavigation {
  padding: 0 20px;
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 50px;
  background-color: white;
  width: fit-content;

  ul {
    @include flex-column;

    li {
      margin: 5px;
      font-weight: 500;
    }
  }

  .button {
    font-size: unset;
    border-radius: 80px;
    margin: 15px 0;
    padding: 5px 10px;
    @include flex-center;
  }
}

.desktopNavigation {
  ul {
    @include flex-center;
    gap: 60px;
  }

  li {
    position: relative;
    transition: 250ms;
    background: transparent;
    // border-radius: 0;
    padding: 0;
    color: #000;
  }

  .selectedMenuItem {
    background: #af8e6d;
    border-radius: 26px;
    padding: 5px 25px;
    color: white;
  }

  li:hover a {
    // color: $BAL-main-color;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 1000;
  padding-top: 1rem;
}

.navbarBrand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}
