// @use "../../../styles/themes.scss" as themes;
// @use "../../../styles/dropdown.scss" as dropdown;

.dropdown {
  // @include dropdown.dropdown;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 60px;
  top: 10px;
  transform: translateY(-50%);
  // color: themes.$white;
  cursor: pointer;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    margin: auto;
    width: 0;
    height: 2px;
    background: transparent;
    transition: all 0.3s;
  }

  &:hover::after {
    -webkit-text-stroke: 1px;
    width: 100%;
    // background: themes.$white;
  }

  &::before {
    content: '‹';
    border: none;
    transform: rotate(270deg);
    font-size: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 15px;
    padding: 0 15px;
    cursor: pointer;
  }

  // @include themes.medium {
  //   top: 28px;
  //   right: -15px;
  // }

  // @include themes.small {
  //   top: 25px;
  // }

  // @include themes.superSmall {
  //   top: 23px;
  // }

  &::after {
    transform: translateY(-4px);
  }

  &:hover::after {
    transform: translateY(-4px);
  }

  &:hover::before {
    transform: rotate(90deg) translateY(-22px);
  }

  &__toggle {
    background-color: transparent;
    border: none;
    &:hover {
      background-color: transparent;
    }
    &:focus-visible {
      background-color: transparent;
    }
    &:active {
      background-color: transparent;
    }
  }
}
