.languageSelectorTrigger {
  display: flex;
  gap: 10px;
}

.LanguageSelectorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;

  a {
    display: flex;
    gap: 10px;
    width: fit-content;
  }
}
