@import "@/app/styles/mixins";

.newsletterWrapper {
  @include limit-and-center(1565px);
  margin-top: 50px;

  margin-bottom: 100px;

  @include laptop {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 100px;

    .description,
    .form {
      margin: 10px;
    }

    .description {
      margin-right: 0;
    }

    .form {
      margin-left: 0;
    }
  }

  .description {
    background: #af8e6d;

    color: white;
    padding: 40px 20px;

    h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: 150%;
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
      font-weight: 200;
      line-height: 20px;
    }
  }

  .form {
    color: white;
    background-image: url("/assets/newsletter/newsletterBg.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: darken;
    padding: 60px 20px;

    .inputWrapper {
      width: fit-content;
      height: 36px;
      display: grid;
      grid-template-columns: 55% 45%;
      margin: 0 auto;

      @media screen and (min-width: 430px) {
        grid-template-columns: 66% 34%;
      }

      label {
        display: none;
      }

      .input {
        height: 100%;

        input {
          color: black;
          height: 100%;
          width: 100%;
          padding: 10px 14px;
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;

          &:focus {
            outline: none;
            border: none;
          }
        }
      }
      a {
        width: fit-content;
      }
      button {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        text-wrap: nowrap;
      }
    }

    .agreementsWrapper {
      font-size: 12px;
      margin: 28px 11px;
      font-weight: 200;

      @include laptop {
        width: 400px;
        margin: 28px auto;
      }

      @include desktop-large {
        width: 700px;
        margin-top: 40px;
      }
    }
  }
}
