@import '@/app/styles/mixins';

.newsletterWrapper {
  position: relative;
  margin: 50px 10px;
  background-image: url('/assets/newsletter/newsletterBg.jpg');
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  font-weight: 500;

  @include tablet {
    height: 280px;
  }

  h2 {
    background: #fef7ff;
    position: absolute;
    padding: 8px 12px;
    border-bottom-right-radius: 20px;
  }
  .secondaryHeading {
    color: white;
    margin-left: 90px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 32px;
    border-bottom: 1px solid white;
    font-size: 16px;

    @include laptop {
      margin-left: 105px;
      padding-top: 9px;
      padding-bottom: 8px;
    }

    @include desktop {
      margin-left: 120px;
      padding-top: 10px;
      padding-bottom: 9px;
    }

    @include desktop-large {
      margin-left: 120px;
      padding-top: 11px;
      padding-bottom: 9px;
    }
  }

  .formWrapper {
    margin: 30px 15px;
  }

  .inputsWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 710px;
    @include limit-and-center(710px);

    @include tablet {
      margin: 40px auto;
      gap: 50px;
    }

    div {
      width: 45%;
      display: flex;
      flex-direction: column;
    }

    label {
      display: none;

      @include tablet {
        display: block;
        background: #fef7ff;
        margin-bottom: -7px;
        font-size: 13px;
        color: #49454f;
        padding: 7px 17px;
        z-index: 30;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    input {
      width: 100%;
      color: var(--M3-sys-light-on-surface-variant, #49454f);

      font-size: 12px;
      border-radius: 10px;
      outline: none;
      padding: 10px 17px;
      z-index: 50;
    }
  }

  .agreementsWrapper {
  }

  .formButton {
    margin: 10px auto;
  }
}
