@import '@/app/styles/mixins';

.sectionTitle {
  font-size: 20px;
  margin: 10px 0 30px;
  @include laptop {
    // font-size: 30px;
    margin: 50px 20px 20px;
  }
}

.partnersWrapper {
  display: grid;
  margin: 50px auto 80px;

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    max-width: 575px;
  }

  @media screen and (min-width: 1150px) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1150px;
  }

  .partner {
    display: flex;
    width: 250px;
    height: 130px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 40px 50px;
    margin: 15px auto;
    border-radius: 12px;
    background: rgb(246 242 250);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
      0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }
}
