@import '@/app/styles/mixins';

.main {
  max-width: 1900px;
  margin: 0 20px;

  @include desktop {
    margin: 0 auto;
    width: 100%;
  }

  h2 {
    font-size: 30px;
    font-weight: 300;
    // padding: 10px 30px;
    // margin: 15px 0;
    @media screen and (min-width: 1151px) {
      // padding-left: 75px;
    }

    @include desktop-large {
      @include limit-and-center(1678px);
      margin: 15px auto;
    }
  }
}
