@import '@/app/styles/themes';
@import '@/app/styles/mixins';

.portfolioWrapper {
  display: grid;
  // grid-template-rows: 1fr 1fr;
  @include tablet {
    grid-template-columns: 1fr 1fr;
    // max-height: 240px;
    @include limit-and-center(870px);
  }

  @media screen and (min-width: 1151px) {
    max-width: 100%;
    margin: 0 75px;
  }

  @include desktop-large {
    max-width: 1565px;
    margin: 0 auto;
  }

  .portfolioQuote {
    border-radius: 12px;
    background: var(--M3-sys-light-surface-container-low, #f7f2fa);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
      0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    display: grid;

    // typography
    color: #1b1f2d;
    font-size: 20px;
    font-style: italic;

    @include laptop {
      font-size: 26px;
    }

    @include desktop {
      font-size: 32px;
    }

    @include desktop-large {
      padding: 40px;

      font-size: 38px;
    }

    p {
      max-width: 80%;
      margin-bottom: 20px;
    }
  }

  .CTA {
    margin-left: auto;

    @include tablet {
      // margin-top: 120px;
      margin-top: auto;
    }
  }

  .gallery {
    display: block;
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 8px;

    @include tablet {
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      transition: 200ms;
    }

    &:hover {
      .image {
        transform: scale(1.1);
      }
    }

    .galleryButton {
      color: $mainColor;
      border-radius: 0;
      margin-left: auto;
      border-bottom-left-radius: 20px;
      z-index: 50;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 5px;
    }
  }
}
