@import "@/app/styles/mixins";
@import "@/app/styles/themes";

.footerWrapper {
  position: relative;
  background-color: $footerBg;
  color: $white;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 30px 10px 30px;
  overflow: hidden;
  font-size: 12px;
  @include tablet {
    padding: 60px 80px 40px 80px;

    > div {
      @include limit-and-center(1560px);
      width: 100%;
    }
  }
}

.logoWrapper {
  display: flex;
  gap: 10px;
  align-items: flex-end;

  .logotype {
    margin-bottom: 2px;
  }
}

.mainContent {
  @include tablet {
    display: grid;
    grid-template-columns: 20% 5% 50%;
    justify-content: space-between;
  }
}

.decoration {
  width: 1px;
  background-color: #5d6574;
  height: 75%;
  margin-top: 40px;
}

.contactInfoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-top: 40px;
  // border-right: 1px solid red;

  @include tablet {
    grid-template-columns: 1fr;
  }

  .hotline {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 200px;

    div {
      display: flex;
      gap: 15px;
    }
  }
}

.sitemap_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px 0;
  // padding-left: 100px;

  // &::before {
  //   content: '';
  //   display: block;
  //   height: 200px;
  //   width: 10px;
  //   background-color: red;
  // }

  .sitemapColumn {
    .sitemapTitle {
      font-weight: 700;
      color: $mainColor;
    }
    div {
      margin-bottom: 24px;
    }
  }
}

.bottomWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  // justify-content: space-between;
  text-align: center;
  gap: 36px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
