@import '@/app/styles/mixins';
@import '@/app/styles/themes';

.footerWrapper {
  position: relative;
  background-color: $footerBg;
  color: $white;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 30px 10px 30px;
  overflow: hidden;
  font-size: 14px;

  @include tablet {
    padding: 60px 80px 40px 80px;

    > div {
      @include limit-and-center(1560px);
      width: 100%;
    }
  }

  h2,
  h3 {
    font-weight: 700;
    color: #af8e6d;
    font-size: 14px;
  }
}

.content {
  @include laptop {
    display: flex;
  }
}

.decoration {
  display: none;
  width: 1px;
  background-color: #5d6574;
  height: 260px;
  margin: 34px 80px 0;

  @include laptop {
    display: block;
  }
}

.contactInfoWrapper {
  margin-top: 40px;

  @include laptop {
    margin-top: 0;
  }

  .container {
    margin: 36px 0;
  }

  h3 {
    display: flex;
    width: 250px;
    justify-content: space-between;
  }

  .hotline {
    margin-top: 10px;
  }

  .socialIcons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }
}

.desktopSitemap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;

  .sitemapColumn {
    @include limit-and-center(260px);
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.bottomWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 36px;
  padding-top: 26px;

  @include tablet {
    justify-content: space-between;
    margin-top: 30px !important;
  }

  @include laptop {
    flex-direction: row;
    border-top: 1px solid #5d6574;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
  }

  .links {
    @include tablet {
      flex-direction: row;
    }
  }
}
