@use '@/app/styles/themes.scss' as themes;

.footerWrapper {
  position: relative;
  background-color: themes.$footerBg;
  color: themes.$white;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px 60px 10px 60px;
  overflow: hidden;
  font-size: 12px;

  @include themes.large {
    padding: 30px 50px 10px 50px;
  }

  @include themes.small {
    padding: 30px 30px 10px 30px;
  }

  @include themes.superSmall {
    padding: 10px 30px;
  }
}

.logoWrapper {
  display: flex;
  gap: 10px;
  align-items: flex-end;

  .logotype {
    margin-bottom: 2px;
  }
}

.contactInfoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-top: 40px;

  .hotline {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 200px;

    div {
      display: flex;
      gap: 15px;
    }
  }
}

.sitemap_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px 0;

  .sitemapColumn {
    .sitemapTitle {
      font-weight: 700;
    }
    div {
      margin-bottom: 24px;
    }
  }
}

.bottomWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  // justify-content: space-between;
  text-align: center;
  gap: 36px;

  div {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
