@import '@/app/styles/mixins';
@import '@/app/styles/themes';

.footerWrapper {
  position: relative;
  background-color: $footerBg;
  color: $white;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 30px 10px 30px;
  overflow: hidden;
  font-size: 14px;

  @include tablet {
    padding: 60px 80px 40px 80px;

    > div {
      @include limit-and-center(1560px);
      width: 100%;
    }
  }

  h2,
  h3 {
    font-weight: 700;
    color: #af8e6d;
  }
}

.decoration {
  width: 1px;
  background-color: #5d6574;
  height: 75%;
  margin-top: 40px;
}

.contactInfoWrapper {
  margin-top: 40px;

  .container {
    margin: 36px 0;
  }

  h3 {
    display: flex;
    width: 250px;
    justify-content: space-between;
    font-size: 14px;
  }

  .hotline {
    margin-top: 10px;
  }

  .socialIcons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }
}

.followUs {
}

.sitemapWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px 0;

  .sitemapColumn {
    .sitemapTitle {
      font-weight: 700;
      color: $mainColor;
    }
    div {
      margin-bottom: 24px;
    }
  }
}

.bottomWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 36px;
  padding-top: 26px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
  }
}
