@import '@/app/styles/mixins';

.mainBannerSlider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;

  @media screen and (min-width: 500px) {
    transform: translateY(-60px);
  }

  @include tablet {
    transform: translateY(-140px);
  }

  @include laptop {
    transform: translateY(-300px);
    transform: translateY(-450px);

  }

  @include desktop {
    transform: translateY(-470px);
    gap: 50px;
  }

  @include desktop-large {
    // transform: translateY(-565px);
    transform: translateY(-525px);
  }
}

.sliderWrapper {
  width: fit-content;
  float: right;
  transform: translateY(-20px);
  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    gap: 60px;
  }

  .paginationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    transform: translateY(25%);

    &::after {
      content: '';
      display: block;
      height: 80px;
      border-left: 3px dotted white;
      width: 0;
      transform: translate(11px, -117px);
      z-index: -1;
    }
  }

  .paginationButton {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #fff;
    cursor: pointer;
    transform: scale(1);
    // transition: 250ms;

    &__brown {
      background: #987d76;
    }

    &__black {
      background: #404354;
    }

    &__red {
      background: #a50809;
    }
  }

  .image {
    transition: opacity 0.5s, transform 0.5s;
    min-height: 310px;
    @media screen and (min-width: 500px) {
      width: 225px;
    }

    @include tablet {
      width: 325px;
    }

    @include laptop {
      width: 300px;
    }
  }

  .transitioning {
    opacity: 0;
    transform: scale(1.1);
  }
}

.fancyPagination {
  float: right;
  display: flex;
  gap: 30px;
  @include tablet {
    gap: 85px;
    margin-right: 70px;
  }

  .fancyImage {
    width: 50px;
  }

  .fancyPaginationButton {
    height: 100%;
    max-height: 40px;
    border-radius: 8px;
    width: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;

    @include tablet {
      transform: scale(1.5);
    }

    &__brown {
      background: #987d76;
    }

    &__black {
      background: #404354;
    }

    &__red {
      background: #a50809;
    }
  }
}
